<h1>Rock Paper Scissors</h1>
<h2> Sign in </h2>

<div>
    <form action="/player" method="post">

        <label for="name">
            Player 1
            <input type="text" name="name">
        </label>

        <input type="submit" value="Submit">

    </form>
</div>